BOT_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_id
PREFIX=!
GUILD_ID=your_guild_id

JOIN_LOG_CHANNEL_ID=your_join_log_channel_id
SERVER_CONTROL_USER_IDS=
SERVER_CONTROL_ROLE_IDS=
OWNER_NOTICE_MESSAGE=Your custom message to the server owner

EMBED_IMAGE_DEFAULT=your_default_embed_image_url
EMBED_IMAGE_ERROR=your_error_embed_image_url
EMBED_IMAGE_SUCCESS=your_success_embed_image_url
EMBED_IMAGE_INFO=your_info_embed_image_url
EMBED_IMAGE_STOCK=your_stock_embed_image_url
EMBED_IMAGE_PAYMENTS=your_payments_embed_image_url
EMBED_IMAGE_FEEDBACK=your_feedback_embed_image_url
EMBED_IMAGE_ORDERS=your_orders_embed_image_url
EMBED_IMAGE_TICKET=your_ticket_embed_image_url
EMBED_IMAGE_BUY=your_buy_embed_image_url

ADMIN_USER_IDS=
ADMIN_ROLE_IDS=

STAFF_ROLE_ID=your_staff_role_id
TICKET_CATEGORY_ID=your_ticket_category_id
TRANSCRIPT_CHANNEL_ID=your_transcript_channel_id

SHOP_USER_ID=your_shop_user_id
ECONOMY_BOT_ID=567703512763334685
